
{% from "partials/channels-logo.njk" import channelsLogo %}
{% from "partials/beams-logo.njk" import beamsLogo %}

{% set bodyClasses = "flex flex-column flex-row-l min-vh-100" %}
{% extends "base.njk" %}

{% block container %}
  <div class="flex-grow-1">
    {% include "partials/home-nav.njk" %}
    <section class="pa5 mw9 center">
      <header class="mt6-l mt7-l mb5">
        <h1 class="f2 f1-ns fw5 ma0 lh-title">Tagged: Live Comments</h1>
      </header>
      <div class="g3x-ns gg3 mv6">
        {%- for tutorial in collections["live-comments"] -%}
          <article class="flex flex-column ba b--transparent hover-b--smoke br2 pa4 grow">
            <a href="{{ tutorial.url }}" class="link eggplant hover-dragonfruit-light flex flex-column justify-between flex-grow-1">
              <h2 class="ma0 heading-level-4">{{ tutorial.data.title }}</h2>

              <p class="dragonfruit hover-dragonfruit-light fw6 mb5">Follow tutorial &raquo;</p>
            </a>
            <div class="mt-auto truncate h2">
              {% set categories = tutorial.data.tagString | extractTags %}
              {% for tag in categories %}
                <a class="fl link mr3 mb3 bg-dragonfruit-wash br2 dragonfruit hover-dragonfruit-light fw6 pv1 ph2" href="/tagged/{{ tag.url }}">
                  {{ tag.name }}
                </a>
              {% endfor %}
            </div>
          </article>
        {%- endfor -%}
      </div>
    </section>
  </div>
{% endblock %}
    